doctype
//[if lt IE 8]><html lang="en" class="ie"><![endif]
//[if gt IE 8]><!
html(manifest="#{ environment === 'production' ? '/auto.appcache' : '' }" lang="en")
  //<![endif]
  head
    meta(charset="utf-8")
    //- Show specific page title, name, and tagline. If the full title is more than 70 chars, omit the tagline
    title !{ title !== name ? title + ' &ndash; ' : '' }#{ name }#{ (title.length + name.length + tagline.length) >= 70 ? '' : ', ' + tagline.toLowerCase() }
    != partial("_shared/webfonts")
    link(rel="stylesheet" href="/css/index.css" type="text/css")
    //- link(rel="shortcut icon" href="/favicon.ico")
    link(rel="apple-touch-icon" href="apple-touch-icon.png")
    
    link(rel="alternate" type="application/rss+xml" href="/blog/feed.xml" title="#{ name }")
    meta(name="description" content!=description)
    meta(name="author" content="#{ author }")
    meta(name="handheldfriendly" content="true")
    meta(name="mobileoptimized" content="320")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-title" content="Harp Docs")
    meta(name="google-site-verification" content="8B8VnWspU2WbG_QaA_IYI5aoQpLZme6vrmOAasygOeA")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(http-equiv="cleartype" content="on")
    - var p = public._data[Array.prototype.slice.call(current.path).reverse()[current.path.length - 1]] || {}

  //- Match overflow scroll background colour to nav
  body(class="#{ p.knockout === false ? 'bg-white' : 'bg-blue' }")
    .bg-white
      if current.path[current.path.length - 1] === 'index'
        //- If it’s an index template, show it.
        .clearfix!= yield
      else
        //- Otherwise, wrap it in _nest.jade
        != partial("_shared/nav/nav", { "knockout": p.knockout })
        .container.p1.sm-p2.clearfix
          if current.path.length === 1
            .clearfix!= partial("/_nest.jade", { yield: yield })
          else
            .clearfix!= partial(current.path[0] + "/_nest.jade", { yield: yield })

      .container.p1.sm-p2.clearfix
        != partial("_shared/footer")
