//- This is the top level nav,
    ie. Docs, Blog, FAQ, Community, Source,
    which are all are pulled from the corresponding data.json.

nav.clearfix(role="navigation" class="#{ knockout === false ? 'bg-white' : 'bg-blue' }")
  .container.flex.flex-center.p1.sm-p2
    .sm-col.flex-auto
      a.block.mx-auto.left.border-none(href="/" style="max-width: 5.5em")
        img.block.mx-auto(src="/images/wordmark#{ knockout === false ? '-dark' : '' }.svg" alt="#{ name }")
    .sm-col-right.h6.sm-h5(class="#{ knockout === false ? 'gray' : 'teal' }")
      a.btn.p1.border-none(href="/docs") Documentation
      a.btn.p1.border-none.sm-show-inline(href="/blog") Blog
      a.btn.p1.border-none.sm-show-inline(href="/community") Commmunity
      a.btn.p1.border-none.sm-show-inline(href="https://github.com/sintaxi/harp") GitHub
      a.btn.p2.border-none.sm-show-inline.bg-maroon.rounded(href="/docs/quick-start")
        span.white Quick Start
      a.btn.p1.border-none.sm-hide(href="#nav") More…

  //- .container
  //-   a.navbar-brand.lg-show(href="/")
  //-     img.wordmark(src="/images/wordmark#{ typeof(classes)==='undefined' ? '-dark' : '' }.svg" alt="#{ name }")
  //-   ul.nav.navbar-nav.nav-push.pull-right
  //-     each item, navslug in public._data
  //-       if navslug === 'index'
  //-         li
  //-           a.lg-hide(href="/")
  //-             img.wordmark(src="/images/wordmark#{ typeof(classes)==='undefined' ? '-dark' : '' }.svg" alt="#{ name }")
  //-       else if navslug !== '404' && item.layout !== false
  //-         li
  //-           a.nav-push-item(href="/#{ navslug }" class="#{ current.path[0] === navslug ? 'active' : '' } #{ (current.path[0] !== 'docs' || current.path[1] === 'index') && current.path[0] === navslug ? 'active-last' : '' }")= item.title
  //-           if current.path[0] === navslug
  //-             ul.nav.nav-pills.nav-stacked.nav-hidden-subnav
  //-               if typeof(public[navslug])==='object'
  //-                 each section, slug in public[navslug]._data
  //-                   unless slug === 'index'
  //-                     li
  //-                       //- Chould change this for identity and recipies
  //-                       if current.path[0] === 'docs'
  //-                       - i = 0;
  //-                       if typeof(public.docs[slug])!=='undefined'
  //-                         each thing, link in public.docs[slug]._data
  //-                           unless i >= 1
  //-                             - i++;
  //-                             a.nav-push-item(href="/docs/#{ slug }/#{ link }" class="#{ current.path[1] === slug ? 'active active-last' : '' }")= section.title
  //-                             //- Should be:
  //-                             //- a.nav-aside-item(href="/docs/#{ slug }" class="#{ current.path[1] === slug ? 'active active-last' : '' }")= section.title
  //-                             //- Until we have content on those index pages,
  //-                             //- do what is above for the docs
  //-                         if current.path[1] === slug
  //-                           ul.nav.nav-pills.nav-stacked
  //-                             each subsection, subslug in public.docs[slug]._data
  //-                               unless subslug === 'index' || subsection.published === false
  //-                                 li: a.nav-push-item.nav-push-subnav-item(href="#{ subslug }" class="#{ current.source === subslug ? 'active active-last' : ''}")= subsection.title
  //-     li: a.nav-push-item(href="#{ repository }") GitHub
