ul.nav.nav-pills.nav-stacked.nav-aside
  li.nav-aside-item(class="#{ current.path[1] === 'index' ? 'active' : '' }")
    a(href="/docs/") Overview
  li.nav-aside-item(class="#{ current.path[1] === 'quick-start' ? 'active' : '' }")
    a(href="/docs/quick-start") Quick Start
  each section, slug in public.docs._data
    unless slug === 'index'
      li.nav-aside-item(class="#{ current.path[1] === slug ? 'active' : '' }")
        - i = 0;
        if typeof(public.docs[slug])!=='undefined'
          each thing, link in public.docs[slug]._data
            unless i >= 1
              - i++;
              h3.nav-aside-header= section.title
              ul.nav.nav-pills.nav-stacked
                each subsection, subslug in public.docs[slug]._data
                  unless subslug === 'index' || subsection.published === false
                    if (subsection.tags && subsection.tags.indexOf(["preprocessor"])) && preprocessors!==true
                      li.nav-aside-item
                        h4.nav-aside-subheader Preprocessors
                      - preprocessors = true
                    li.nav-aside-item(class="#{ current.source === subslug ? 'active active-last' : ''}")
                      a(href="/docs/#{ slug }/#{ subslug }")= subsection.title
  li.nav-aside-item(class="#{ current.path[1] === 'recipes' ? 'active' : '' }")
    h3.nav-aside-header Recipes
    ul.nav.nav-pills.nav-stacked
      li.nav-aside-item
        a(href="/recipes/blog-posts-list") How to create a list of blog posts
      li.nav-aside-item
        a(href="/recipes/custom-title-description") How to add a custom title and description per page
      li.nav-aside-item
        a(href="/recipes") More recipes…
    
