!= partial("../_shared/nav/nav")
.st-content#st-content
  != partial("../_shared/nav/navbar")
  .container.st-content-inner.blog-container
    .col-12.col-lg-10
      ul.post-list
        - var i = 1
        for article, slug in public.blog._data
          if article.published === true || article.published === false && environment==='development'
            li.post-item(class="#{ article.url ? 'post-link' : '' }#{ article.published!==true ? 'post-unpublished' : '' }")
                h2.post-title
                  a(href="#{ article.url ? article.url : slug }") #{ article.title }
                if public.blog.contributors._data[article.author]
                  - author = public.blog.contributors._data[article.author]
                  span.post-meta #{ article.url ? 'External post by' : 'By' } <a href="http://twitter.com/#{ author.twitter }">#{ author.name }</a> on #{ article.date }                  
                if i === 1 && article.published === true && !article.url
                  - i++
                  p!= partial(slug).split("<p>")[1].split("</p>")[0] + "&nbsp;"
                    a(href=slug) Read more&hellip;
