.clearfix.flex.flex-center.mxn1
  if author.twitter
    a.px1.border-none(href="http://twitter.com/#{ author.twitter }")
      img.circle.center.bg-gray(src="https://avatars.io/twitter/#{ author.twitter }" style="width: 3rem; height: 3rem")
  .px1
    span.gray #{ url ? 'External post by' : 'By' } <a href="http://twitter.com/#{ author.twitter }">#{ author.name }</a> on #{ date }
