h2 Colours

p Harp’s colour palette.

p Generally, Blue, Off-white, Grey, and Dark are used. Light Blue and Dark Blue are used sparringly alongside Blue. Pink is rarely used; presently, it’s reserved for the main call to action on prominent landing pages.

.clearfix
  .flex.flex-wrap.mxn1
    each color, slug in public.identity._data.colours.colors
      figure.flex.col-6.md-col-4.border-box.p1
        figcaption.col-12.p3.rounded.border(style="color: #{ color.txt }; background-color: #{ color.hex }")
          ul.list-reset
            li.uppercase: strong #{ color.name }
            li #{ color.hex }
            li r#{ color.rgb[0] } g#{ color.rgb[1] } b#{ color.rgb[2] }
            //- li #{ color.cmyk }
